[submodule "thirdparty/cxxopts"]
	path = thirdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "thirdparty/argh"]
	path = thirdparty/argh
	url = https://github.com/adishavit/argh.git
[submodule "thirdparty/concurrentqueue"]
	path = thirdparty/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
