[submodule "thirdparty/cxxopts"]
	path = thirdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "thirdparty/argh"]
	path = src/argh
	url = https://github.com/adishavit/argh.git
[submodule "thirdparty/concurrentqueue"]
	path = src/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "src/json"]
	path = src/json
	url = https://github.com/nlohmann/json.git
[submodule "src/catch2"]
	path = src/catch2
	url = https://github.com/catchorg/Catch2.git
